$navbar-height-large: 100px;
$navbar-height-tablet: 80px;
$navbar-height-mobile: 60px;
$brand-primary: #7572ff;
$brand-secondary: white;
$framework-borders: #D1D6E0;
$framework-light: #F6F7FB;
$framework-dark-1: #3F3A50;
$text-gray: #55595d;
$text-black: black;
$text-white: white;
$traffic-light-red: #F87B7B;
$overpass-font: "Overpass";
$sfpro-font: "SFProRegular";